
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background: url('https://wallpapercat.com/w/middle-retina/4/6/2/87727-3840x2160-desktop-4k-minecraft-wallpaper-image.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90%;
    padding: 2rem 2.5rem;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    max-width: 500px;
    
}
.container h1{
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgba(0, 108, 95, 0.9);
}
form{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: rgb(0, 108 , 95);
    padding: 0.75rem;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);

}
form input{
    flex: 1;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    background-color: white;
    color: black;
}
form button{
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #006c5f;
    color: #f3f2f3;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form button:hover{
    background-color: #2ba17e;
}
#todo-list{
    list-style: none;
    
}
#todo-list li{
    background-color:  rgb(119, 119, 119);
    color: #faf9fa;
    padding: 0.75rem 1rem;
    margin-bottom: 0.6rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(248, 120, 199, 0.05);
    transition: background-color 0.3s ease;

}

#todo-list li.done{
    background-color: #d1f7d1;
    color: #4caf50;
    text-decoration: line-through;
}

#todo-list li button{
    background-color: #006c5f;
    color: #f3f2f3;
    border: none;
    border-radius: 8px;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#todo-list li button:hover{
    background-color: #2ba17e;
}